<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBlgNSFKsvbbhrC3rh5L2s9WV817a9Nj6o</string>
	<key>GCM_SENDER_ID</key>
	<string>249534240675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.wemeal.app</string>
	<key>PROJECT_ID</key>
	<string>wemeal-61b0c</string>
	<key>STORAGE_BUCKET</key>
	<string>wemeal-61b0c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:249534240675:ios:bd53f63fc233643f2dec16</string>
</dict>
</plist>
